---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<div class="row">
	<div class="col-md-11">
		{% for category in site.categories %}
		<div>
			<h3>
				{{ category[0] | join: "/" | capitalize }}
			</h3>
    	{% assign pages_list = category[1] %}
			{% for page in pages_list %}
			<h4>
				<a href="{{ BASE_PATH }}{{page.url}}">{{page.title}}</a> <small>({{ page.date | date_to_string }})</small>
			</h4>
			{% endfor %}
		</div>
		<hr/>
		{% endfor %}
</div>
</div>
