---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}
<h4>Tags</h4>
<div class="row">
<div class="col-md-10">
{% for tag in site.tags %}
<div>
	<div>
		<hr/>
		<span class="glyphicon glyphicon-tag"></span>&nbsp {{ tag[0] | join: "/" }}
	</div>
  	<ul>
    {% assign pages_list = tag[1] %}
	{% for page in pages_list %}
		<li>
            <span>{{ page.date | date_to_string }}</span> &raquo;
            <a href="{{ BASE_PATH }}{{page.url}}">{{page.title}}</a>
		</li>
	{% endfor %}
  	</ul>
</div>
{% endfor %}
</div>
</div>
