---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<div class="row">
	<div class="col-md-11">
		{% assign sortedtags = site.tags | sort %}
		{% for tag in sortedtags %}
		<hr/>
		<div>
			<h3>{{ tag[0] | join: "/" }}</h3>
    	{% assign pages_list = tag[1] %}
			{% for page in pages_list %}
				<p>
          <a href="{{ BASE_PATH }}{{page.url}}">{{page.title}}</a> ({{ page.date | date_to_string }})
				</p>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
